# Remove Models directory for copyright reasons
/Content/FactoryDecorMod/Models/*

# Ignore saved build artifacts
/Saved/*
/Intermediate/*
/Binaries/*

# Ignore Crypto.json because the mod doesn't use pak file encryption
/Modding/*

# Ignore my Blender source assets
/BlenderAssets/*

# Ignore my various source assets
/SourceAssets/*
Content/FactoryDecorMod/Models/